{{#partial "content"}}
    <link rel="stylesheet" href="/public/styles.css">
    <div class="jumbotron1" >
        <h3 class="text-center">Welcome to WildLife Tracker</h3>


    </div>
{{/partial}}
{{> layout.hbs}}