{{#partial "content"}}
    <div class="jumbotron1">
      <h4 class="text-center">AWESOME!!</h4>
      <P class="text-center">{{name}}'s added successfully</P>
        <a href="/">HOME</a>
    </div>
{{/partial}}
{{> layout.hbs}}