{{#partial "content"}}

    <div class="jumbotron1">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="/images/john.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">John </h5>
                    <p class="card-text">John is 48 Years, has been with the rangers for 28 years and the most senior.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/john1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">James </h5>
                    <p class="card-text">Age: 42 Years</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/john2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jim </h5>
                    <p class="card-text">Jim: 34 Years</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/john3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Joseph </h5>
                    <p class="card-text">Joseph: 48 Years.</p>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}