{{#partial "content"}}
<section class="landing-pg">
    <div class="land-left">
    </div>
    <div class="land-right">
    </div>
    <div class="hero-img">
    </div>
    <div class="hero-desc">
      <h3>Welcome to Hero Squad</h3>
        <h4>New hero? Then join us and lets have some hero fun!</h4>

        <a href="/hero-form"><button class="hero-btn btns">Create a Hero</button></a>
    </div>

  </section>
{{/partial}}
{{> layout.hbs}}