{{#partial "content"}}
    <link rel="stylesheet" href="style.css">    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">

        <title>Hero Squad</title>
    </head><header>
        <hr class="nav-hr" style="padding-top:0px;">
        <nav class="navbar justify-content-center bg-dark">
            <ul class="nav">
                <a class="nav-item nav-link" href="/"><li>Home</li></a>
                <a class="nav-item nav-link" href="/hero"><li>Hero</li></a>
                <a class="nav-item nav-link" href="/squad"><li>Squad</li></a>
            </ul>
        </nav>
    </header>

        <form class="form" action="/squad/new" method="post">

            <div class="jumbotron text-center display-4">
                <h1>Create Your Squad</h1>
            </div>
            <div class="userclass">
            <div class="form-group">
                <input type="text" placeholder="Enter the squad name" name="squadName" class="form-control" required>

            </div>
            </div>
            <div class="form-group">
                <input type="number" placeholder="Enter the max size" name="size"  class="form-control"  required>

            </div>
            <div class="form-group">
                <input type="text" placeholder="Enter mission" name="cause"  class="form-control"  required>

            </div>
            <input type="submit" class="btns">
        </form>

    </div>
    </section>
{{/partial}}
{{> layout.hbs}}
