{{#partial "content"}}

    <header>
        <hr class="nav-hr" style="padding-top:0px;">
        <nav class="navbar justify-content-center bg-dark">
            <ul class="nav">
                <a class="nav-item nav-link" href="/"><li>Home</li></a>
                <a class="nav-item nav-link" href="/hero"><li>Hero</li></a>
                <a class="nav-item nav-link" href="/squad"><li>Squad</li></a>
            </ul>
        </nav>
    </header>



    <div class="success">
        <div class="jumbotron text-center">
            <h3>Success <br>  <span>{{ item }} </span>  has been created successfully <br>{{sqId}}</h3>
        </div>
        <div class="userclass">
            <a class="btn btn-outline-primary" href="/hero">View Heroes</a>
            <a class="btn btn-outline-primary" href="/squad">View Squads</a>

        </div>
        </div>
{{/partial}}
{{> layout.hbs}}